@CHARSET "UTF-8";

body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

.ib {
	display: inline-block;
}

.navbar-form {
	margin-bottom: 0;
}

.mt10 {
	margin-top: 10px;
}

.mb10 {
	margin-bottom: 10px;
}

.mw380 {
	max-width: 380px;
	margin: 0 auto;
}

.pt5 {
	padding-top: 5px;
}

.cursor-pointer {
	cursor: pointer;
}

.inline{
	display: inline;
}

#颜色

.red{
	color: red;
}

#滚动条
.of-auto{
	overflow: auto;
}
.of-hidden{
	overflow: hidden;
}

.display-none{
	display: none;
}

#文字
.ti2{
	text-indent: 2em;
}

#高度
.h100{
	height: 100px;
}

.h180{
	height: 180px;
}
