@CHARSET "UTF-8";
/* index.css 包含top页面和left页面的样式 */
.ib {
	display: inline-block;
}

.top {
	height: 120px;
}

.top_info {
	height: 80px;
}

.left {
	margin-left: 5px; 
	width: 220px;
}

.main {
	margin-left: 20px; 
	width: 1000px;
}

/* 
.separate {
	width: 10px;
	height: 100px;
	background-color: #EEEEEE;
	border: solid #BBBBBB 1px;
}

.main {
	width: 100%;
	height: 100%;
	background-color: #EEEEEE;
} */
