@CHARSET "UTF-8";

.login_body {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -295px;
	margin-top: -222px;
}

.login_img{
	background:url(../images/psd1049022222.png) no-repeat center;
	width: 590px;
	height: 443px;
	position: absolute;
	z-index: -1;
}

.login_info{
	position: absolute;
}
